name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: test
    runs-on: ubuntu-latest-xl
    timeout-minutes: 30

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install rust
        uses: hecrj/setup-rust-action@v1.3.4
        with:
          rust-version: 1.54.0
          components: clippy,rustfmt

      - name: Format
        run: rustfmt --check src/lib.rs

      - name: Build
        run: cargo build --locked --release --all-targets --all-features

      - name: Test
        run: cargo test --locked --release --all-targets --all-features

      - name: Lint
        run: cargo clippy --all-targets --all-features --release --locked -- -D clippy::all

      - name: Publish
        if: |
          github.repository == 'denoland/rust-urlpattern' &&
          startsWith(github.ref, 'refs/tags/')
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          cargo publish -vv
